lib/cc/xsd/cccv1p0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://canvas.instructure.com/xsd/cccv1p0"
           xmlns="http://canvas.instructure.com/xsd/cccv1p0"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified">
  <!-- todo: useful comments as documentation ;) -->
  <xs:element name="course">
    <xs:complexType>
      <xs:all minOccurs="0" maxOccurs="1">
        <xs:element name="title" type="xs:string" minOccurs="1"/>
        <xs:element name="course_code" type="xs:string" minOccurs="0"/>
        <xs:element name="start_at" type="xs:dateTime" minOccurs="0"/>
        <xs:element name="conclude_at" type="xs:dateTime" minOccurs="0"/>
        <xs:element name="is_public" type="xs:boolean" minOccurs="0"/>
        <xs:element name="indexed" type="xs:boolean" minOccurs="0"/>
        <xs:element name="publish_grades_immediately" type="xs:boolean" minOccurs="0"/>
        <xs:element name="allow_student_wiki_edits" type="xs:boolean" minOccurs="0"/>
        <xs:element name="allow_student_assignment_edits" type="xs:boolean" minOccurs="0"/>
        <xs:element name="hashtag" type="xs:string" minOccurs="0"/>
        <xs:element name="show_public_context_messages" type="xs:boolean" minOccurs="0"/>
        <xs:element name="allow_student_forum_attachments" type="xs:boolean" minOccurs="0"/>
        <xs:element name="default_wiki_editing_roles" type="xs:string" minOccurs="0"/>
        <xs:element name="allow_student_organized_groups" type="xs:boolean" minOccurs="0"/>
        <xs:element name="show_all_discussion_entries" type="xs:boolean" minOccurs="0"/>
        <xs:element name="open_enrollment" type="xs:boolean" minOccurs="0"/>
        <xs:element name="allow_wiki_comments" type="xs:boolean" minOccurs="0"/>
        <xs:element name="self_enrollment" type="xs:boolean" minOccurs="0"/>
        <xs:element name="turnitin_comments" type="xs:string" minOccurs="0"/>
        <xs:element name="locale" type="xs:string" minOccurs="0"/>
        <xs:element name="hide_final_grade" type="xs:boolean" minOccurs="0"/>
        <xs:element name="grading_standard_enabled" type="xs:boolean" minOccurs="0"/>
        <xs:element name="grading_standard_identifier_ref" type="xs:string" minOccurs="0"/>
        <xs:element name="grading_standard_id" type="xs:integer" minOccurs="0"/>
        <xs:element name="storage_quota" type="xs:float" minOccurs="0"/>
        <xs:element name="lock_all_announcements" type="xs:boolean" minOccurs="0"/>
        <xs:element name="public_syllabus" type="xs:boolean" minOccurs="0"/>
        <xs:element name="hide_distribution_graphs" type="xs:boolean" minOccurs="0"/>
        <xs:element name="allow_student_discussion_topics" type="xs:boolean" minOccurs="0"/>
        <xs:element name="allow_student_discussion_editing" type="xs:boolean" minOccurs="0"/>
        <xs:element name="image_url" type="xs:string" minOccurs="0"/>
        <xs:element name="image_identifier_ref" type="xs:string" minOccurs="0"/>
        <xs:element name="default_view" minOccurs="0">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="feed"/>
              <xs:enumeration value="wiki"/>
              <xs:enumeration value="modules"/>
              <xs:enumeration value="assignments"/>
              <xs:enumeration value="syllabus"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="license" minOccurs="0">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="private"/>
              <xs:enumeration value="public_domain"/>
              <xs:enumeration value="cc_by_nc_nd"/>
              <xs:enumeration value="cc_by_nc_sa"/>
              <xs:enumeration value="cc_by_nc"/>
              <xs:enumeration value="cc_by_nd"/>
              <xs:enumeration value="cc_by_sa"/>
              <xs:enumeration value="cc_by"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="group_weighting_scheme" minOccurs="0">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="percent"/>
              <xs:enumeration value="equal"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="root_account_uuid" type="xs:string" minOccurs="0"/>
      </xs:all>
      <xs:attribute name="identifier" type="xs:ID" use="required"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="assignment" type="assignmentType"/>
  <xs:complexType name="assignmentType">
    <xs:all minOccurs="0" maxOccurs="1">
      <xs:element name="title" type="xs:string" minOccurs="1"/>
      <xs:element name="due_at" type="xs:dateTime" minOccurs="0"/>
      <xs:element name="lock_at" type="xs:dateTime" minOccurs="0"/>
      <xs:element name="unlock_at" type="xs:dateTime" minOccurs="0"/>
      <xs:element name="peer_reviews_due_at" type="xs:dateTime" minOccurs="0"/>
      <xs:element name="all_day_date" type="xs:date" minOccurs="0"/>
      <xs:element name="assignment_group_identifierref" type="xs:string" minOccurs="0"/>
      <xs:element name="grading_standard_identifierref" type="xs:string" minOccurs="0"/>
      <xs:element name="grading_standard_external_identifier" type="xs:string" minOccurs="0"/>
      <xs:element name="rubric_identifierref" type="xs:string" minOccurs="0"/>
      <xs:element name="rubric_external_identifier" type="xs:string" minOccurs="0"/>
      <xs:element name="rubric_use_for_grading" type="xs:boolean" minOccurs="0"/>
      <xs:element name="rubric_hide_score_total" type="xs:boolean" minOccurs="0"/>
      <xs:element name="quiz_identifierref" type="xs:string" minOccurs="0"/>
      <xs:element name="allowed_extensions" type="xs:string" minOccurs="0"/>
      <xs:element name="points_possible" type="xs:float" minOccurs="0"/>
      <xs:element name="min_score" type="xs:float" minOccurs="0"/>
      <xs:element name="max_score" type="xs:float" minOccurs="0"/>
      <xs:element name="mastery_score" type="xs:float" minOccurs="0"/>
      <xs:element name="grading_type" type="xs:string" minOccurs="0"/>
      <xs:element name="all_day" type="xs:boolean" minOccurs="0"/>
      <xs:element name="submission_types" type="xs:string" minOccurs="0"/>
      <xs:element name="position" type="xs:integer" minOccurs="0"/>
      <xs:element name="turnitin_enabled" type="xs:boolean" minOccurs="0"/>
      <xs:element name="turnitin_settings" type="xs:string" minOccurs="0"/>
      <xs:element name="vericite_enabled" type="xs:boolean" minOccurs="0"/>
      <xs:element name="peer_review_count" type="xs:integer" minOccurs="0"/>
      <xs:element name="peer_reviews_assigned" type="xs:boolean" minOccurs="0"/>
      <xs:element name="peer_reviews" type="xs:boolean" minOccurs="0"/>
      <xs:element name="automatic_peer_reviews" type="xs:boolean" minOccurs="0"/>
      <xs:element name="anonymous_peer_reviews" type="xs:boolean" minOccurs="0"/>
      <xs:element name="moderated_grading" type="xs:boolean" minOccurs="0"/>
      <xs:element name="has_group_category" type="xs:boolean" minOccurs="0"/>
      <xs:element name="group_category" type="xs:string" minOccurs="0"/>
      <xs:element name="grade_group_students_individually" type="xs:boolean" minOccurs="0"/>
      <xs:element name="external_tool_identifierref" type="xs:string" minOccurs="0"/>
      <xs:element name="external_tool_external_identifier" type="xs:string" minOccurs="0"/>
      <xs:element name="external_tool_url" type="xs:string" minOccurs="0"/>
      <xs:element name="external_tool_new_tab" type="xs:boolean" minOccurs="0"/>
      <xs:element name="freeze_on_copy" type="xs:boolean" minOccurs="0"/>
      <xs:element name="muted" type="xs:boolean" minOccurs="0"/>
      <xs:element name="omit_from_final_grade" type="xs:boolean" minOccurs="0"/>
      <xs:element name="only_visible_to_overrides" type="xs:boolean" minOccurs="0"/>
      <xs:element name="saved_rubric_comments" minOccurs="0">
        <xs:complexType>
          <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element name="comment" type="xs:string">
              <xs:complexType>
                <xs:attribute name="criterion_id" type="xs:string" use="required"/>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="assignment_overrides" minOccurs="0">
        <xs:complexType>
          <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element name="override" type="xs:string">
              <xs:complexType>
                <xs:attribute name="set_type" type="xs:string" use="required"/>
                <xs:attribute name="set_id" type="xs:string" use="required"/>
                <xs:attribute name="title" type="xs:string" use="required"/>
                <xs:attribute name="due_at" type="xs:dateTime"/>
                <xs:attribute name="unlock_at" type="xs:dateTime"/>
                <xs:attribute name="lock_at" type="xs:dateTime"/>
                <xs:attribute name="due_at_overridden" type="xs:boolean"/>
                <xs:attribute name="unlock_at_overridden" type="xs:boolean"/>
                <xs:attribute name="lock_at_overridden" type="xs:boolean"/>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:all>
    <xs:attribute name="identifier" type="xs:ID" use="required"/>
  </xs:complexType>

  <xs:element name="topicMeta">
    <xs:complexType>
      <xs:all minOccurs="0" maxOccurs="1">
        <xs:element name="topic_id" type="xs:ID" minOccurs="1"/>
        <xs:element name="title" type="xs:string" minOccurs="1"/>
        <xs:element name="assignment" type="assignmentType" minOccurs="0"/>
        <xs:element name="posted_at" type="xs:dateTime" minOccurs="0"/>
        <xs:element name="delayed_post_at" type="xs:dateTime" minOccurs="0"/>
        <xs:element name="lock_at" type="xs:dateTime" minOccurs="0"/>
        <xs:element name="position" type="xs:integer" minOccurs="0"/>
        <xs:element name="pinned" type="xs:boolean" minOccurs="0"/>
        <xs:element name="require_initial_post" type="xs:boolean" minOccurs="0"/>
        <xs:element name="external_feed_identifierref" type="xs:string" minOccurs="0"/>
        <xs:element name="attachment_identifierref" type="xs:string" minOccurs="0"/>
        <xs:element name="workflow_state" type="xs:string" minOccurs="0"/>
        <xs:element name="has_group_category" type="xs:boolean" minOccurs="0"/>
        <xs:element name="group_category" type="xs:string" minOccurs="0"/>
        <xs:element name="allow_rating" type="xs:boolean" minOccurs="0"/>
        <xs:element name="only_graders_can_rate" type="xs:boolean" minOccurs="0"/>
        <xs:element name="sort_by_rating" type="xs:boolean" minOccurs="0"/>
        <xs:element name="discussion_type" minOccurs="0">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="side_comment"/>
              <xs:enumeration value="threaded"/>
              <xs:enumeration value="flat"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="type" minOccurs="0">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="announcement"/>
              <xs:enumeration value="topic"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
      </xs:all>
      <xs:attribute name="identifier" type="xs:ID" use="required"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="modules">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="module" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:all minOccurs="0">
              <xs:element name="title" type="xs:string" minOccurs="1"/>
              <xs:element name="workflow_state" type="xs:string" minOccurs="1"/>
              <xs:element name="position" type="xs:integer" minOccurs="0"/>
              <xs:element name="start_at" type="xs:dateTime" minOccurs="0"/>
              <xs:element name="end_at" type="xs:dateTime" minOccurs="0"/>
              <xs:element name="unlock_at" type="xs:dateTime" minOccurs="0"/>
              <xs:element name="require_sequential_progress" type="xs:boolean" minOccurs="0"/>
              <xs:element name="requirement_count" type="xs:integer" minOccurs="0"/>

              <xs:element name="prerequisites" minOccurs="0">
                <xs:complexType>
                  <xs:sequence minOccurs="0" maxOccurs="unbounded">
                    <xs:element name="prerequisite">
                      <xs:complexType>
                        <xs:all minOccurs="0">
                          <xs:element name="title" type="xs:string" minOccurs="0"/>
                          <xs:element name="identifierref" type="xs:string" minOccurs="0"/>
                        </xs:all>
                        <xs:attribute name="type" type="xs:string" use="required"/>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>

              <xs:element name="items" minOccurs="0">
                <xs:complexType>
                  <xs:sequence minOccurs="0" maxOccurs="unbounded">
                    <xs:element name="item">
                      <xs:complexType>
                        <xs:all minOccurs="0">
                          <xs:element name="content_type" type="xs:string" minOccurs="1"/>
                          <xs:element name="title" type="xs:string" minOccurs="1"/>
                          <xs:element name="identifierref" type="xs:string" minOccurs="0"/>
                          <xs:element name="url" type="xs:string" minOccurs="0"/>
                          <xs:element name="position" type="xs:integer" minOccurs="0"/>
                          <xs:element name="indent" type="xs:integer" minOccurs="0"/>
                        </xs:all>
                        <xs:attribute name="identifier" type="xs:ID" use="required"/>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>

              <xs:element name="completionRequirements" minOccurs="0">
                <xs:complexType>
                  <xs:sequence minOccurs="0" maxOccurs="unbounded">
                    <xs:element name="completionRequirement">
                      <xs:complexType>
                        <xs:all minOccurs="0">
                          <xs:element name="identifierref" type="xs:string" minOccurs="1"/>
                          <xs:element name="min_score" type="xs:float" minOccurs="0"/>
                          <xs:element name="max_score" type="xs:float" minOccurs="0"/>
                        </xs:all>
                        <xs:attribute name="type" type="xs:string" use="required"/>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:all>
            <xs:attribute name="identifier" type="xs:ID" use="required"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="externalFeeds">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="externalFeed" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:all minOccurs="0">
              <xs:element name="url" type="xs:anyURI" minOccurs="1"/>
              <xs:element name="title" type="xs:string" minOccurs="0"/>
              <xs:element name="header_match" type="xs:string" minOccurs="0"/>
              <xs:element name="purpose" minOccurs="0" default="announcements">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:enumeration value="announcements"/>
                    <!--<xs:enumeration value="calendar"/>-->
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="feed_type" minOccurs="0">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:enumeration value="rss/atom"/>
                    <!--<xs:enumeration value="ical"/>-->
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="verbosity" minOccurs="1" default="full">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:enumeration value="full"/>
                    <xs:enumeration value="truncate"/>
                    <xs:enumeration value="link_only"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
            </xs:all>
            <xs:attribute name="identifier" type="xs:ID" use="required"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="assignmentGroups">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="assignmentGroup" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:all minOccurs="0">
              <xs:element name="title" type="xs:string" minOccurs="1"/>
              <xs:element name="position" type="xs:integer" minOccurs="0"/>
              <xs:element name="group_weight" type="xs:float" minOccurs="0"/>
              <xs:element name="rules" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="rule" minOccurs="0" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:all minOccurs="0">
                          <xs:element name="drop_type" minOccurs="1">
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:enumeration value="drop_lowest"/>
                                <xs:enumeration value="drop_highest"/>
                                <xs:enumeration value="never_drop"/>
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="identifierref" type="xs:string" minOccurs="0"/>
                          <xs:element name="drop_count" type="xs:integer" minOccurs="0"/>
                        </xs:all>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:all>
            <xs:attribute name="identifier" type="xs:ID" use="required"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="gradingStandards">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="gradingStandard" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:all minOccurs="0">
              <xs:element name="title" type="xs:string" minOccurs="0"/>
              <xs:element name="data" type="xs:string" minOccurs="1"/>
            </xs:all>
            <xs:attribute name="identifier" type="xs:ID" use="required"/>
            <xs:attribute name="version" type="xs:integer" default="1"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:complexType name="ratingsType">
    <xs:sequence>
      <xs:element name="rating" minOccurs="0" maxOccurs="unbounded">
        <xs:complexType>
          <xs:all minOccurs="0">
            <xs:element name="id" type="xs:string" minOccurs="0"/>
            <xs:element name="description" type="xs:string" minOccurs="1"/>
            <xs:element name="points" type="xs:float" minOccurs="1"/>
            <xs:element name="criterion_id" type="xs:string" minOccurs="0"/>
            <xs:element name="long_description" type="xs:string" minOccurs="0"/>
          </xs:all>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:element name="learningOutcomes" type="learningOutcomesType"/>
  <xs:complexType name="learningOutcomesType">
    <xs:choice  minOccurs="0" maxOccurs="unbounded">

      <xs:element name="learningOutcome">
        <xs:complexType>
          <xs:all minOccurs="0">
            <xs:element name="title" type="xs:string" minOccurs="0"/>
            <xs:element name="description" type="xs:string" minOccurs="0"/>
            <xs:element name="points_possible" type="xs:float" minOccurs="0"/>
            <xs:element name="mastery_points" type="xs:float" minOccurs="0"/>
            <xs:element name="calculation_method" type="xs:string" minOccurs="0"/>
            <xs:element name="calculation_int" type="xs:integer" minOccurs="0"/>
            <xs:element name="ratings" type="ratingsType" minOccurs="0"/>
            <xs:element name="external_identifier" type="xs:string" minOccurs="0"/>
            <xs:element name="is_global_outcome" type="xs:boolean" minOccurs="0"/>
            <xs:element name="alignments" minOccurs="0">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="alignment" minOccurs="0" maxOccurs="unbounded">
                    <xs:complexType>
                      <xs:all minOccurs="0">
                        <xs:element name="content_type" type="xs:string" minOccurs="1"/>
                        <xs:element name="content_id" type="xs:string" minOccurs="1"/>
                        <xs:element name="mastery_type" type="xs:string" minOccurs="0"/>
                        <xs:element name="mastery_score" type="xs:float" minOccurs="0"/>
                        <xs:element name="position" type="xs:integer" minOccurs="0"/>
                      </xs:all>
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:all>
          <xs:attribute name="identifier" type="xs:ID" use="required"/>
        </xs:complexType>
      </xs:element>

      <xs:element name="learningOutcomeGroup">
        <xs:complexType>
          <xs:all minOccurs="0">
            <xs:element name="title" type="xs:string" minOccurs="0"/>
            <xs:element name="description" type="xs:string" minOccurs="0"/>
            <xs:element name="learningOutcomes" type="learningOutcomesType" minOccurs="0"/>
          </xs:all>
          <xs:attribute name="identifier" type="xs:ID" use="required"/>
        </xs:complexType>
      </xs:element>

    </xs:choice>
  </xs:complexType>

  <xs:element name="rubrics">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="rubric" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:all minOccurs="0">
              <xs:element name="title" type="xs:string" minOccurs="0"/>
              <xs:element name="description" type="xs:string" minOccurs="0"/>
              <xs:element name="read_only" type="xs:boolean" minOccurs="0"/>
              <xs:element name="reusable" type="xs:boolean" minOccurs="0"/>
              <xs:element name="public" type="xs:boolean" minOccurs="0"/>
              <xs:element name="points_possible" type="xs:float" minOccurs="0"/>
              <xs:element name="hide_score_total" type="xs:boolean" minOccurs="0"/>
              <xs:element name="free_form_criterion_comments" type="xs:boolean" minOccurs="0"/>
              <xs:element name="external_identifier" type="xs:string" minOccurs="0"/>

              <xs:element name="criteria">
                <xs:complexType>
                  <xs:sequence minOccurs="0">
                    <xs:element name="criterion" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:all minOccurs="0">
                          <xs:element name="criterion_id" type="xs:string" minOccurs="0"/>
                          <xs:element name="description" type="xs:string" minOccurs="0"/>
                          <xs:element name="long_description" type="xs:string" minOccurs="0"/>
                          <xs:element name="points" type="xs:float" minOccurs="0"/>
                          <xs:element name="mastery_points" type="xs:float" minOccurs="0"/>
                          <xs:element name="ignore_for_scoring" type="xs:boolean" minOccurs="0"/>
                          <xs:element name="learning_outcome_identifierref" type="xs:string" minOccurs="0"/>
                          <xs:element name="ratings" type="ratingsType" minOccurs="0"/>
                        </xs:all>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>

            </xs:all>
            <xs:attribute name="identifier" type="xs:ID" use="required"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="externalTools">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="externalTool" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:all minOccurs="0">
              <xs:element name="title" type="xs:string" minOccurs="0"/>
              <xs:element name="url" type="xs:anyURI" minOccurs="0"/>
              <xs:element name="description" type="xs:string" minOccurs="0"/>
              <xs:element name="domain" type="xs:string" minOccurs="0"/>

              <xs:element name="privacy_level" minOccurs="1" default="anonymous">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:enumeration value="name_only"/>
                    <xs:enumeration value="public"/>
                    <xs:enumeration value="anonymous"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>

            </xs:all>
            <xs:attribute name="identifier" type="xs:ID" use="required"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="quiz">
    <xs:complexType>
      <xs:all minOccurs="0" maxOccurs="1">
        <xs:element name="title" type="xs:string" minOccurs="1"/>
        <xs:element name="description" type="xs:string" minOccurs="1"/>
        <xs:element name="points_possible" type="xs:float" minOccurs="0"/>
        <xs:element name="assignment" type="assignmentType" minOccurs="0"/>
        <xs:element name="lock_at" type="xs:dateTime" minOccurs="0"/>
        <xs:element name="unlock_at" type="xs:dateTime" minOccurs="0"/>
        <xs:element name="due_at" type="xs:dateTime" minOccurs="0"/>
        <xs:element name="shuffle_answers" type="xs:boolean" minOccurs="0"/>
        <xs:element name="hide_results" type="xs:string" minOccurs="0"/>
        <xs:element name="require_lockdown_browser" type="xs:boolean" minOccurs="0"/>
        <xs:element name="require_lockdown_browser_for_results" type="xs:boolean" minOccurs="0"/>
        <xs:element name="require_lockdown_browser_monitor" type="xs:boolean" minOccurs="0"/>
        <xs:element name="lockdown_browser_monitor_data" type="xs:string" minOccurs="0"/>
        <xs:element name="access_code" type="xs:string" minOccurs="0"/>
        <xs:element name="ip_filter" type="xs:string" minOccurs="0"/>
        <xs:element name="show_correct_answers" type="xs:boolean" minOccurs="0"/>
        <xs:element name="anonymous_submissions" type="xs:boolean" minOccurs="0"/>
        <xs:element name="could_be_locked" type="xs:boolean" minOccurs="0"/>
        <xs:element name="available" type="xs:boolean" minOccurs="0"/>
        <xs:element name="time_limit" type="xs:integer" minOccurs="0"/>
        <xs:element name="allowed_attempts" type="xs:integer" minOccurs="0"/>
        <xs:element name="one_question_at_a_time" type="xs:boolean" minOccurs="0"/>
        <xs:element name="cant_go_back" type="xs:boolean" minOccurs="0"/>
        <xs:element name="one_time_results" type="xs:boolean" minOccurs="0"/>
        <xs:element name="show_correct_answers_last_attempt" type="xs:boolean" minOccurs="0"/>
        <xs:element name="only_visible_to_overrides" type="xs:boolean" minOccurs="0"/>
        <xs:element name="assignment_group_identifierref" type="xs:string" minOccurs="0"/>

        <xs:element name="quiz_type" minOccurs="0" default="practice_quiz">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="practice_quiz"/>
              <xs:enumeration value="assignment"/>
              <xs:enumeration value="graded_survey"/>
              <xs:enumeration value="survey"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>

        <xs:element name="scoring_policy" minOccurs="0" default="keep_highest">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="keep_latest"/>
              <xs:enumeration value="keep_highest"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>

        <xs:element name="assignment_overrides" minOccurs="0">
          <xs:complexType>
            <xs:sequence minOccurs="0" maxOccurs="unbounded">
              <xs:element name="override" type="xs:string">
                <xs:complexType>
                  <xs:attribute name="set_type" type="xs:string" use="required"/>
                  <xs:attribute name="set_id" type="xs:string" use="required"/>
                  <xs:attribute name="title" type="xs:string" use="required"/>
                  <xs:attribute name="due_at" type="xs:dateTime"/>
                  <xs:attribute name="unlock_at" type="xs:dateTime"/>
                  <xs:attribute name="lock_at" type="xs:dateTime"/>
                  <xs:attribute name="due_at_overridden" type="xs:boolean"/>
                  <xs:attribute name="unlock_at_overridden" type="xs:boolean"/>
                  <xs:attribute name="lock_at_overridden" type="xs:boolean"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>

      </xs:all>
      <xs:attribute name="identifier" type="xs:ID" use="required"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="events">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="event" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:all minOccurs="0">
              <xs:element name="title" type="xs:string" minOccurs="0"/>
              <xs:element name="description" type="xs:string" minOccurs="0"/>
              <xs:element name="start_at" type="xs:dateTime" minOccurs="0"/>
              <xs:element name="end_at" type="xs:dateTime" minOccurs="0"/>
              <xs:element name="all_day_date" type="xs:date" minOccurs="0"/>
              <xs:element name="all_day" type="xs:boolean" minOccurs="0"/>
            </xs:all>
            <xs:attribute name="identifier" type="xs:ID" use="required"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="media_tracks">
    <xs:complexType>
      <xs:sequence minOccurs="0" maxOccurs="unbounded">
        <xs:element name="media">
          <xs:complexType>
            <xs:attribute name="identifierref" type="xs:ID" use="required"/>
            <xs:sequence minOccurs="0" maxOccurs="unbounded">
              <xs:element name="track">
                <xs:complexType>
                  <xs:attribute name="identifierref" type="xs:ID" use="required"/>
                  <xs:attribute name="kind" type="xs:string" use="required">
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:enumeration value="subtitles"/>
                        <xs:enumeration value="captions"/>
                        <xs:enumeration value="descriptions"/>
                        <xs:enumeration value="chapters"/>
                        <xs:enumeration value="metadata"/>
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                  <xs:attribute name="locale" type="xs:string" use="required"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="fileMeta">
    <xs:complexType>
      <xs:all minOccurs="0" maxOccurs="1">
        <xs:element name="folders" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="folder" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:all minOccurs="0">
                    <xs:element name="hidden" type="xs:boolean" minOccurs="0"/>
                    <xs:element name="locked" type="xs:boolean" minOccurs="0"/>
                    <xs:element name="lock_at" type="xs:dateTime" minOccurs="0"/>
                    <xs:element name="unlock_at" type="xs:dateTime" minOccurs="0"/>
                  </xs:all>
                  <xs:attribute name="path" type="xs:string" use="required"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="files" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="file" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:all minOccurs="0">
                    <xs:element name="display_name" type="xs:string" minOccurs="0"/>
                    <xs:element name="hidden" type="xs:boolean" minOccurs="0"/>
                    <xs:element name="locked" type="xs:boolean" minOccurs="0"/>
                    <xs:element name="lock_at" type="xs:dateTime" minOccurs="0"/>
                    <xs:element name="unlock_at" type="xs:dateTime" minOccurs="0"/>
                    <xs:element name="usage_rights" minOccurs="0" maxOccurs="1">
                      <xs:complexType>
                        <xs:attribute name="use_justification" type="xs:string" use="required">
                          <xs:simpleType>
                            <xs:restriction base="xs:string">
                              <xs:enumeration value="public_domain"/>
                              <xs:enumeration value="own_copyright"/>
                              <xs:enumeration value="used_by_permission"/>
                              <xs:enumeration value="fair_use"/>
                              <xs:enumeration value="creative_commons"/>
                            </xs:restriction>
                          </xs:simpleType>
                        </xs:attribute>
                        <xs:all minOccurs="0">
                          <xs:element name="legal_copyright" type="xs:string" minOccurs="0"/>
                          <xs:element name="license" type="xs:string" minOccurs="0"/>
                        </xs:all>
                      </xs:complexType>
                    </xs:element>
                  </xs:all>
                  <xs:attribute name="identifier" type="xs:string" use="required"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:all>
    </xs:complexType>
  </xs:element>

</xs:schema>
