lib/cc/xsd/cccv1p0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://canvas.instructure.com/xsd/cccv1p0"
           xmlns="http://canvas.instructure.com/xsd/cccv1p0"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified">

  <!--
  Builder::XmlMarkup generates XML elements with an empty value when the corresponding
  Ruby expression is nil, but XML validators do not allow an empty value for non-string
  types.  Define optional_integer, optional_dateTime and optional_float types for such elements.
  -->

  <xs:simpleType name="optional_integer">
    <xs:union>
      <xs:simpleType>
        <xs:restriction base='xs:string'>
          <xs:length value="0"/>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType>
        <xs:restriction base='xs:integer' />
      </xs:simpleType>
    </xs:union>
  </xs:simpleType>

  <xs:simpleType name="optional_dateTime">
    <xs:union>
      <xs:simpleType>
        <xs:restriction base='xs:string'>
          <xs:length value="0"/>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType>
        <xs:restriction base='xs:dateTime' />
      </xs:simpleType>
    </xs:union>
  </xs:simpleType>

  <xs:simpleType name="optional_float">
    <xs:union>
      <xs:simpleType>
        <xs:restriction base='xs:string'>
          <xs:length value="0"/>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType>
        <xs:restriction base='xs:float' />
      </xs:simpleType>
    </xs:union>
  </xs:simpleType>

  <xs:element name="course">
    <xs:complexType>
      <xs:all minOccurs="0" maxOccurs="1">
        <xs:element name="title" type="xs:string" minOccurs="1"/>
        <xs:element name="time_zone_edited" type="xs:string" minOccurs="0"/>
        <xs:element name="course_code" type="xs:string" minOccurs="0"/>
        <xs:element name="start_at" type="optional_dateTime" minOccurs="0"/>
        <xs:element name="conclude_at" type="optional_dateTime" minOccurs="0"/>
        <xs:element name="tab_configuration" type="xs:string" minOccurs="0"/>
        <xs:element name="is_public" type="xs:boolean" minOccurs="0"/>
        <xs:element name="is_public_to_auth_users" type="xs:boolean" minOccurs="0"/>
        <xs:element name="overridden_course_visibility" type="xs:string" minOccurs="0"/>
        <xs:element name="indexed" type="xs:boolean" minOccurs="0"/>
        <xs:element name="publish_grades_immediately" type="xs:boolean" minOccurs="0"/>
        <xs:element name="allow_final_grade_override" type="xs:boolean" minOccurs="0"/>
        <xs:element name="allow_student_wiki_edits" type="xs:boolean" minOccurs="0"/>
        <xs:element name="allow_student_assignment_edits" type="xs:boolean" minOccurs="0"/>
        <xs:element name="allow_student_discussion_reporting" type="xs:boolean" minOccurs="0"/>
        <xs:element name="allow_student_anonymous_discussion_topics" type="xs:boolean" minOccurs="0"/>
        <xs:element name="hashtag" type="xs:string" minOccurs="0"/>
        <xs:element name="show_public_context_messages" type="xs:boolean" minOccurs="0"/>
        <xs:element name="filter_speed_grader_by_student_group" type="xs:boolean" minOccurs="0"/>
        <xs:element name="allow_student_forum_attachments" type="xs:boolean" minOccurs="0"/>
        <xs:element name="default_wiki_editing_roles" type="xs:string" minOccurs="0"/>
        <xs:element name="allow_student_organized_groups" type="xs:boolean" minOccurs="0"/>
        <xs:element name="show_all_discussion_entries" type="xs:boolean" minOccurs="0"/>
        <xs:element name="open_enrollment" type="xs:boolean" minOccurs="0"/>
        <xs:element name="allow_wiki_comments" type="xs:boolean" minOccurs="0"/>
        <xs:element name="self_enrollment" type="xs:boolean" minOccurs="0"/>
        <xs:element name="turnitin_comments" type="xs:string" minOccurs="0"/>
        <xs:element name="locale" type="xs:string" minOccurs="0"/>
        <xs:element name="hide_final_grade" type="xs:boolean" minOccurs="0"/>
        <xs:element name="grading_standard_enabled" type="xs:boolean" minOccurs="0"/>
        <xs:element name="grading_standard_identifier_ref" type="xs:string" minOccurs="0"/>
        <xs:element name="grading_standard_id" type="optional_integer" minOccurs="0"/>
        <xs:element name="storage_quota" type="optional_float" minOccurs="0"/>
        <xs:element name="lock_all_announcements" type="xs:boolean" minOccurs="0"/>
        <xs:element name="public_syllabus" type="xs:boolean" minOccurs="0"/>
        <xs:element name="files_visibility" type="xs:string" minOccurs="0"/>
        <xs:element name="hide_distribution_graphs" type="xs:boolean" minOccurs="0"/>
        <xs:element name="usage_rights_required" type="xs:boolean" minOccurs="0"/>
        <xs:element name="allow_student_discussion_topics" type="xs:boolean" minOccurs="0"/>
        <xs:element name="allow_student_discussion_editing" type="xs:boolean" minOccurs="0"/>
        <xs:element name="show_announcements_on_home_page" type="xs:boolean" minOccurs="0"/>
        <xs:element name="home_page_announcement_limit" type="optional_integer" minOccurs="0"/>
        <xs:element name="restrict_student_future_view" type="xs:boolean" minOccurs="0"/>
        <xs:element name="restrict_student_past_view" type="xs:boolean" minOccurs="0"/>
        <xs:element name="restrict_quantitative_data" type="xs:boolean" minOccurs="0"/>
        <xs:element name="restrict_enrollments_to_course_dates" type="xs:boolean" minOccurs="0"/>
        <xs:element name="public_syllabus_to_auth" type="xs:boolean" minOccurs="0"/>
        <xs:element name="syllabus_course_summary" type="xs:boolean" minOccurs="0"/>
        <xs:element name="show_total_grade_as_points" type="xs:boolean" minOccurs="0"/>
        <xs:element name="organize_epub_by_content_type" type="xs:boolean" minOccurs="0"/>
        <xs:element name="enable_offline_web_export" type="xs:boolean" minOccurs="0"/>
        <xs:element name="homeroom_course" type="xs:boolean" minOccurs="0"/>
        <xs:element name="course_color" type="xs:string" minOccurs="0"/>
        <xs:element name="alt_name" type="xs:string" minOccurs="0"/>
        <xs:element name="time_zone" type="xs:string" minOccurs="0"/>
        <xs:element name="image_url" type="xs:string" minOccurs="0"/>
        <xs:element name="image_identifier_ref" type="xs:string" minOccurs="0"/>
        <xs:element name="banner_image_url" type="xs:string" minOccurs="0"/>
        <xs:element name="banner_image_identifier_ref" type="xs:string" minOccurs="0"/>
        <xs:element name="default_view" minOccurs="0">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="feed"/>
              <xs:enumeration value="wiki"/>
              <xs:enumeration value="modules"/>
              <xs:enumeration value="assignments"/>
              <xs:enumeration value="syllabus"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="license" minOccurs="0">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="private"/>
              <xs:enumeration value="public_domain"/>
              <xs:enumeration value="cc_by_nc_nd"/>
              <xs:enumeration value="cc_by_nc_sa"/>
              <xs:enumeration value="cc_by_nc"/>
              <xs:enumeration value="cc_by_nd"/>
              <xs:enumeration value="cc_by_sa"/>
              <xs:enumeration value="cc_by"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="group_weighting_scheme" minOccurs="0">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="percent"/>
              <xs:enumeration value="equal"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="root_account_uuid" type="xs:string" minOccurs="0"/>
        <xs:element name="default_post_policy" type="postPolicyType" minOccurs="0"/>
        <xs:element name="late_policy" type="latePolicyType" minOccurs="0"/>
        <xs:element name="enable_course_paces" type="xs:boolean" minOccurs="0"/>
      </xs:all>
      <xs:attribute name="identifier" type="xs:ID" use="required"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="assignment" type="assignmentType"/>
  <xs:complexType name="assignmentType">
    <xs:all minOccurs="0" maxOccurs="1">
      <xs:element name="title" type="xs:string" minOccurs="1"/>
      <xs:element name="workflow_state" type="xs:string" minOccurs="0"/>
      <xs:element name="due_at" type="optional_dateTime" minOccurs="0"/>
      <xs:element name="lock_at" type="optional_dateTime" minOccurs="0"/>
      <xs:element name="unlock_at" type="optional_dateTime" minOccurs="0"/>
      <xs:element name="peer_reviews_due_at" type="optional_dateTime" minOccurs="0"/>
      <xs:element name="all_day_date" type="xs:date" minOccurs="0"/>
      <xs:element name="assignment_group_identifierref" type="xs:string" minOccurs="0"/>
      <xs:element name="grading_standard_identifierref" type="xs:string" minOccurs="0"/>
      <xs:element name="grading_standard_external_identifier" type="xs:string" minOccurs="0"/>
      <xs:element name="rubric_identifierref" type="xs:string" minOccurs="0"/>
      <xs:element name="rubric_external_identifier" type="xs:string" minOccurs="0"/>
      <xs:element name="rubric_use_for_grading" type="xs:boolean" minOccurs="0"/>
      <xs:element name="rubric_hide_score_total" type="xs:boolean" minOccurs="0"/>
      <xs:element name="rubric_hide_points" type="xs:boolean" minOccurs="0"/>
      <xs:element name="rubric_hide_outcome_results" type="xs:boolean" minOccurs="0"/>
      <xs:element name="quiz_identifierref" type="xs:string" minOccurs="0"/>
      <xs:element name="allowed_extensions" type="xs:string" minOccurs="0"/>
      <xs:element name="points_possible" type="optional_float" minOccurs="0"/>
      <xs:element name="min_score" type="optional_float" minOccurs="0"/>
      <xs:element name="max_score" type="optional_float" minOccurs="0"/>
      <xs:element name="mastery_score" type="optional_float" minOccurs="0"/>
      <xs:element name="grading_type" type="xs:string" minOccurs="0"/>
      <xs:element name="all_day" type="xs:boolean" minOccurs="0"/>
      <xs:element name="submission_types" type="xs:string" minOccurs="0"/>
      <xs:element name="position" type="optional_integer" minOccurs="0"/>
      <xs:element name="turnitin_enabled" type="xs:boolean" minOccurs="0"/>
      <xs:element name="turnitin_settings" type="xs:string" minOccurs="0"/>
      <xs:element name="vericite_enabled" type="xs:boolean" minOccurs="0"/>
      <xs:element name="peer_review_count" type="optional_integer" minOccurs="0"/>
      <xs:element name="peer_reviews_assigned" type="xs:boolean" minOccurs="0"/>
      <xs:element name="peer_reviews" type="xs:boolean" minOccurs="0"/>
      <xs:element name="intra_group_peer_reviews" type="xs:boolean" minOccurs="0"/>
      <xs:element name="automatic_peer_reviews" type="xs:boolean" minOccurs="0"/>
      <xs:element name="anonymous_peer_reviews" type="xs:boolean" minOccurs="0"/>
      <xs:element name="moderated_grading" type="xs:boolean" minOccurs="0"/>
      <xs:element name="grader_count" type="optional_integer" minOccurs="0"/>
      <xs:element name="grader_comments_visible_to_graders" type="xs:boolean" minOccurs="0"/>
      <xs:element name="anonymous_grading" type="xs:boolean" minOccurs="0"/>
      <xs:element name="graders_anonymous_to_graders" type="xs:boolean" minOccurs="0"/>
      <xs:element name="grader_names_visible_to_final_grader" type="xs:boolean" minOccurs="0"/>
      <xs:element name="anonymous_instructor_annotations" type="xs:boolean" minOccurs="0"/>
      <xs:element name="has_group_category" type="xs:boolean" minOccurs="0"/>
      <xs:element name="group_category" type="xs:string" minOccurs="0"/>
      <xs:element name="grade_group_students_individually" type="xs:boolean" minOccurs="0"/>
      <xs:element name="external_tool_identifierref" type="xs:string" minOccurs="0"/>
      <xs:element name="external_tool_external_identifier" type="xs:string" minOccurs="0"/>
      <xs:element name="external_tool_url" type="xs:string" minOccurs="0"/>
      <xs:element name="external_tool_new_tab" type="xs:boolean" minOccurs="0"/>
      <xs:element name="external_tool_data_json" type="xs:string" minOccurs="0"/>
      <xs:element name="external_tool_link_settings_json" type="xs:string" minOccurs="0"/>
      <xs:element name="freeze_on_copy" type="xs:boolean" minOccurs="0"/>
      <xs:element name="module_locked" type="xs:boolean" minOccurs="0"/>
      <xs:element name="muted" type="xs:boolean" minOccurs="0"/>
      <xs:element name="omit_from_final_grade" type="xs:boolean" minOccurs="0"/>
      <xs:element name="only_visible_to_overrides" type="xs:boolean" minOccurs="0"/>
      <xs:element name="post_to_sis" type="xs:boolean" minOccurs="0"/>
      <xs:element name="allowed_attempts" type="optional_integer" minOccurs="0"/>
      <xs:element name="similarity_detection_tool" minOccurs="0">
        <xs:complexType>
          <xs:attribute  name="resource_type_code" type="xs:string" use="required"/>
          <xs:attribute  name="vendor_code" type="xs:string" use="required"/>
          <xs:attribute  name="product_code" type="xs:string" use="required"/>
          <xs:attribute  name="visibility" type="xs:string" />
        </xs:complexType>
      </xs:element>
      <xs:element name="saved_rubric_comments" minOccurs="0">
        <xs:complexType>
          <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element name="comment">
              <xs:complexType>
                <xs:attribute name="criterion_id" type="xs:string" use="required"/>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="assignment_overrides" minOccurs="0">
        <xs:complexType>
          <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element name="override">
              <xs:complexType>
                <xs:attribute name="set_type" type="xs:string" use="required"/>
                <xs:attribute name="set_id" type="xs:string" use="required"/>
                <xs:attribute name="title" type="xs:string" use="required"/>
                <xs:attribute name="due_at" type="optional_dateTime"/>
                <xs:attribute name="unlock_at" type="optional_dateTime"/>
                <xs:attribute name="lock_at" type="optional_dateTime"/>
                <xs:attribute name="due_at_overridden" type="xs:boolean"/>
                <xs:attribute name="unlock_at_overridden" type="xs:boolean"/>
                <xs:attribute name="lock_at_overridden" type="xs:boolean"/>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="post_policy" type="postPolicyType" minOccurs="0"/>
      <xs:element name="line_items" minOccurs="0">
        <xs:complexType>
          <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element name="line_item">
              <xs:complexType>
                <xs:all>
                  <xs:element name="coupled" type="xs:boolean" minOccurs="1"/>
                  <xs:element name="tag" type="xs:string" minOccurs="0"/>
                  <xs:element name="resource_id" type="xs:string" minOccurs="0"/>
                  <xs:element name="extensions" type="xs:string" minOccurs="0"/>
                  <xs:element name="client_id" type="xs:ID" minOccurs="0"/>
                  <xs:element name="label" type="xs:string" minOccurs="0"/>
                  <xs:element name="score_maximum" type="xs:float" minOccurs="0"/>
                </xs:all>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="annotatable_attachment_migration_id" type="xs:ID" minOccurs="0"/>
    </xs:all>
    <xs:attribute name="identifier" type="xs:ID" use="required"/>
  </xs:complexType>

  <xs:element name="topicMeta">
    <xs:complexType>
      <xs:all minOccurs="0" maxOccurs="1">
        <xs:element name="topic_id" type="xs:ID" minOccurs="1"/>
        <xs:element name="title" type="xs:string" minOccurs="1"/>
        <xs:element name="assignment" type="assignmentType" minOccurs="0"/>
        <xs:element name="posted_at" type="optional_dateTime" minOccurs="0"/>
        <xs:element name="delayed_post_at" type="optional_dateTime" minOccurs="0"/>
        <xs:element name="lock_at" type="optional_dateTime" minOccurs="0"/>
        <xs:element name="position" type="optional_integer" minOccurs="0"/>
        <xs:element name="pinned" type="xs:boolean" minOccurs="0"/>
        <xs:element name="require_initial_post" type="xs:boolean" minOccurs="0"/>
        <xs:element name="external_feed_identifierref" type="xs:string" minOccurs="0"/>
        <xs:element name="attachment_identifierref" type="xs:string" minOccurs="0"/>
        <xs:element name="workflow_state" type="xs:string" minOccurs="0"/>
        <xs:element name="has_group_category" type="xs:boolean" minOccurs="0"/>
        <xs:element name="group_category" type="xs:string" minOccurs="0"/>
        <xs:element name="allow_rating" type="xs:boolean" minOccurs="0"/>
        <xs:element name="module_locked" type="xs:boolean" minOccurs="0"/>
        <xs:element name="only_graders_can_rate" type="xs:boolean" minOccurs="0"/>
        <xs:element name="sort_by_rating" type="xs:boolean" minOccurs="0"/>
        <xs:element name="todo_date" type="optional_dateTime" minOccurs="0"/>
        <xs:element name="publish_at" type="optional_dateTime" minOccurs="0"/>
        <xs:element name="discussion_type" minOccurs="0">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="side_comment"/>
              <xs:enumeration value="threaded"/>
              <xs:enumeration value="flat"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="type" minOccurs="0">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="announcement"/>
              <xs:enumeration value="topic"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
      </xs:all>
      <xs:attribute name="identifier" type="xs:ID" use="required"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="modules">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="module" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:all minOccurs="0">
              <xs:element name="title" type="xs:string" minOccurs="1"/>
              <xs:element name="workflow_state" type="xs:string" minOccurs="1"/>
              <xs:element name="position" type="optional_integer" minOccurs="0"/>
              <xs:element name="start_at" type="optional_dateTime" minOccurs="0"/>
              <xs:element name="end_at" type="optional_dateTime" minOccurs="0"/>
              <xs:element name="unlock_at" type="optional_dateTime" minOccurs="0"/>
              <xs:element name="locked" type="xs:boolean" minOccurs="0"/>
              <xs:element name="require_sequential_progress" type="xs:boolean" minOccurs="0"/>
              <xs:element name="requirement_count" type="optional_integer" minOccurs="0"/>

              <xs:element name="prerequisites" minOccurs="0">
                <xs:complexType>
                  <xs:sequence minOccurs="0" maxOccurs="unbounded">
                    <xs:element name="prerequisite">
                      <xs:complexType>
                        <xs:all minOccurs="0">
                          <xs:element name="title" type="xs:string" minOccurs="0"/>
                          <xs:element name="identifierref" type="xs:string" minOccurs="0"/>
                        </xs:all>
                        <xs:attribute name="type" type="xs:string" use="required"/>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>

              <xs:element name="items" minOccurs="0">
                <xs:complexType>
                  <xs:sequence minOccurs="0" maxOccurs="unbounded">
                    <xs:element name="item">
                      <xs:complexType>
                        <xs:all minOccurs="0">
                          <xs:element name="content_type" type="xs:string" minOccurs="1"/>
                          <xs:element name="title" type="xs:string" minOccurs="1"/>
                          <xs:element name="identifierref" type="xs:string" minOccurs="0"/>
                          <xs:element name="global_identifierref" type="xs:string" minOccurs="0"/>
                          <xs:element name="url" type="xs:string" minOccurs="0"/>
                          <xs:element name="position" type="optional_integer" minOccurs="0"/>
                          <xs:element name="indent" type="optional_integer" minOccurs="0"/>
                          <xs:element name="workflow_state" type="xs:string" minOccurs="0"/>
                          <xs:element name="new_tab" type="xs:string" minOccurs="0"/>
                          <xs:element name="link_settings_json" type="xs:string" minOccurs="0"/>
                        </xs:all>
                        <xs:attribute name="identifier" type="xs:ID" use="required"/>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>

              <xs:element name="completionRequirements" minOccurs="0">
                <xs:complexType>
                  <xs:sequence minOccurs="0" maxOccurs="unbounded">
                    <xs:element name="completionRequirement">
                      <xs:complexType>
                        <xs:all minOccurs="0">
                          <xs:element name="identifierref" type="xs:string" minOccurs="1"/>
                          <xs:element name="min_score" type="optional_float" minOccurs="0"/>
                          <xs:element name="max_score" type="optional_float" minOccurs="0"/>
                        </xs:all>
                        <xs:attribute name="type" type="xs:string" use="required"/>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:all>
            <xs:attribute name="identifier" type="xs:ID" use="required"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="course_paces">
    <xs:complexType>
      <xs:sequence minOccurs="0" maxOccurs="unbounded">
        <xs:element name="course_pace">
          <xs:complexType>
            <xs:all minOccurs="0">
              <xs:element name="workflow_state" type="xs:string" minOccurs="0"/>
              <xs:element name="start_date" type="xs:date" minOccurs="0"/>
              <xs:element name="end_date" type="xs:date" minOccurs="0"/>
              <xs:element name="published_at" type="xs:dateTime" minOccurs="0"/>
              <xs:element name="exclude_weekends" type="xs:boolean" minOccurs="0"/>
              <xs:element name="hard_end_dates" type="xs:boolean" minOccurs="0"/>
              <xs:element name="module_items" minOccurs="0">
                <xs:complexType>
                  <xs:sequence minOccurs="0" maxOccurs="unbounded">
                    <xs:element name="module_item">
                      <xs:complexType>
                        <xs:all minOccurs="0">
                          <xs:element name="duration" type="xs:integer" minOccurs="1"/>
                          <xs:element name="module_item_identifierref" type="xs:string" minOccurs="0"/>
                        </xs:all>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:all>
            <xs:attribute name="identifier" type="xs:ID" use="required"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="externalFeeds">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="externalFeed" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:all minOccurs="0">
              <xs:element name="url" type="xs:anyURI" minOccurs="1"/>
              <xs:element name="title" type="xs:string" minOccurs="0"/>
              <xs:element name="header_match" type="xs:string" minOccurs="0"/>
              <xs:element name="purpose" minOccurs="0" default="announcements">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:enumeration value="announcements"/>
                    <!--<xs:enumeration value="calendar"/>-->
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="feed_type" minOccurs="0">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:enumeration value="rss/atom"/>
                    <!--<xs:enumeration value="ical"/>-->
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="verbosity" minOccurs="1" default="full">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:enumeration value="full"/>
                    <xs:enumeration value="truncate"/>
                    <xs:enumeration value="link_only"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
            </xs:all>
            <xs:attribute name="identifier" type="xs:ID" use="required"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="assignmentGroups">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="assignmentGroup" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:all minOccurs="0">
              <xs:element name="title" type="xs:string" minOccurs="1"/>
              <xs:element name="position" type="optional_integer" minOccurs="0"/>
              <xs:element name="group_weight" type="optional_float" minOccurs="0"/>
              <xs:element name="rules" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="rule" minOccurs="0" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:all minOccurs="0">
                          <xs:element name="drop_type" minOccurs="1">
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:enumeration value="drop_lowest"/>
                                <xs:enumeration value="drop_highest"/>
                                <xs:enumeration value="never_drop"/>
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="identifierref" type="xs:string" minOccurs="0"/>
                          <xs:element name="drop_count" type="optional_integer" minOccurs="0"/>
                        </xs:all>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:all>
            <xs:attribute name="identifier" type="xs:ID" use="required"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="gradingStandards">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="gradingStandard" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:all minOccurs="0">
              <xs:element name="title" type="xs:string" minOccurs="0"/>
              <xs:element name="data" type="xs:string" minOccurs="1"/>
            </xs:all>
            <xs:attribute name="identifier" type="xs:ID" use="required"/>
            <xs:attribute name="version" type="optional_integer" default="1"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:complexType name="ratingsType">
    <xs:sequence>
      <xs:element name="rating" minOccurs="0" maxOccurs="unbounded">
        <xs:complexType>
          <xs:all minOccurs="0">
            <xs:element name="id" type="xs:string" minOccurs="0"/>
            <xs:element name="description" type="xs:string" minOccurs="1"/>
            <xs:element name="points" type="optional_float" minOccurs="1"/>
            <xs:element name="criterion_id" type="xs:string" minOccurs="0"/>
            <xs:element name="long_description" type="xs:string" minOccurs="0"/>
          </xs:all>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="postPolicyType">
    <xs:all>
      <xs:element name="post_manually" type="xs:boolean" minOccurs="1"/>
    </xs:all>
  </xs:complexType>

  <xs:element name="learningOutcomes" type="learningOutcomesType"/>
  <xs:complexType name="learningOutcomesType">
    <xs:choice  minOccurs="0" maxOccurs="unbounded">

      <xs:element name="learningOutcome">
        <xs:complexType>
          <xs:all minOccurs="0">
            <xs:element name="title" type="xs:string" minOccurs="0"/>
            <xs:element name="description" type="xs:string" minOccurs="0"/>
            <xs:element name="points_possible" type="optional_float" minOccurs="0"/>
            <xs:element name="mastery_points" type="optional_float" minOccurs="0"/>
            <xs:element name="calculation_method" type="xs:string" minOccurs="0"/>
            <xs:element name="calculation_int" type="optional_integer" minOccurs="0"/>
            <xs:element name="ratings" type="ratingsType" minOccurs="0"/>
            <xs:element name="external_identifier" type="xs:string" minOccurs="0"/>
            <xs:element name="is_global_outcome" type="xs:boolean" minOccurs="0"/>
            <xs:element name="vendor_guid" type="xs:string" minOccurs="0"/>
            <xs:element name="copied_from_outcome_id" type="optional_integer" minOccurs="0"/>
            <xs:element name="friendly_description" type="xs:string" minOccurs="0"/>
            <xs:element name="alignments" minOccurs="0">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="alignment" minOccurs="0" maxOccurs="unbounded">
                    <xs:complexType>
                      <xs:all minOccurs="0">
                        <xs:element name="content_type" type="xs:string" minOccurs="1"/>
                        <xs:element name="content_id" type="xs:string" minOccurs="1"/>
                        <xs:element name="mastery_type" type="xs:string" minOccurs="0"/>
                        <xs:element name="mastery_score" type="optional_float" minOccurs="0"/>
                        <xs:element name="position" type="optional_integer" minOccurs="0"/>
                      </xs:all>
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:all>
          <xs:attribute name="identifier" type="xs:ID" use="required"/>
        </xs:complexType>
      </xs:element>

      <xs:element name="learningOutcomeGroup">
        <xs:complexType>
          <xs:all minOccurs="0">
            <xs:element name="title" type="xs:string" minOccurs="0"/>
            <xs:element name="description" type="xs:string" minOccurs="0"/>
            <xs:element name="learningOutcomes" type="learningOutcomesType" minOccurs="0"/>
            <xs:element name="vendor_guid" type="xs:string" minOccurs="0"/>
            <xs:element name="source_outcome_group_id" type="xs:string" minOccurs="0"/>
          </xs:all>
          <xs:attribute name="identifier" type="xs:ID" use="required"/>
        </xs:complexType>
      </xs:element>

    </xs:choice>
  </xs:complexType>

  <xs:element name="rubrics">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="rubric" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:all minOccurs="0">
              <xs:element name="title" type="xs:string" minOccurs="0"/>
              <xs:element name="description" type="xs:string" minOccurs="0"/>
              <xs:element name="read_only" type="xs:boolean" minOccurs="0"/>
              <xs:element name="reusable" type="xs:boolean" minOccurs="0"/>
              <xs:element name="public" type="xs:boolean" minOccurs="0"/>
              <xs:element name="points_possible" type="optional_float" minOccurs="0"/>
              <xs:element name="hide_score_total" type="xs:boolean" minOccurs="0"/>
              <xs:element name="free_form_criterion_comments" type="xs:boolean" minOccurs="0"/>
              <xs:element name="external_identifier" type="xs:string" minOccurs="0"/>

              <xs:element name="criteria">
                <xs:complexType>
                  <xs:sequence minOccurs="0">
                    <xs:element name="criterion" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:all minOccurs="0">
                          <xs:element name="criterion_id" type="xs:string" minOccurs="0"/>
                          <xs:element name="description" type="xs:string" minOccurs="0"/>
                          <xs:element name="long_description" type="xs:string" minOccurs="0"/>
                          <xs:element name="points" type="optional_float" minOccurs="0"/>
                          <xs:element name="mastery_points" type="optional_float" minOccurs="0"/>
                          <xs:element name="ignore_for_scoring" type="xs:boolean" minOccurs="0"/>
                          <xs:element name="learning_outcome_identifierref" type="xs:string" minOccurs="0"/>
                          <xs:element name="learning_outcome_external_identifier" type="xs:string" minOccurs="0"/>
                          <xs:element name="criterion_use_range" type="xs:boolean" minOccurs="0"/>
                          <xs:element name="ratings" type="ratingsType" minOccurs="0"/>
                        </xs:all>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>

            </xs:all>
            <xs:attribute name="identifier" type="xs:ID" use="required"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="externalTools">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="externalTool" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:all minOccurs="0">
              <xs:element name="title" type="xs:string" minOccurs="0"/>
              <xs:element name="url" type="xs:anyURI" minOccurs="0"/>
              <xs:element name="description" type="xs:string" minOccurs="0"/>
              <xs:element name="domain" type="xs:string" minOccurs="0"/>

              <xs:element name="privacy_level" minOccurs="1" default="anonymous">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:enumeration value="name_only"/>
                    <xs:enumeration value="public"/>
                    <xs:enumeration value="anonymous"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>

            </xs:all>
            <xs:attribute name="identifier" type="xs:ID" use="required"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="quiz">
    <xs:complexType>
      <xs:all minOccurs="0" maxOccurs="1">
        <xs:element name="title" type="xs:string" minOccurs="1"/>
        <xs:element name="description" type="xs:string" minOccurs="1"/>
        <xs:element name="points_possible" type="optional_float" minOccurs="0"/>
        <xs:element name="assignment" type="assignmentType" minOccurs="0"/>
        <xs:element name="lock_at" type="optional_dateTime" minOccurs="0"/>
        <xs:element name="unlock_at" type="optional_dateTime" minOccurs="0"/>
        <xs:element name="module_locked" type="xs:boolean" minOccurs="0"/>
        <xs:element name="due_at" type="optional_dateTime" minOccurs="0"/>
        <xs:element name="shuffle_answers" type="xs:boolean" minOccurs="0"/>
        <xs:element name="hide_results" type="xs:string" minOccurs="0"/>
        <xs:element name="require_lockdown_browser" type="xs:boolean" minOccurs="0"/>
        <xs:element name="require_lockdown_browser_for_results" type="xs:boolean" minOccurs="0"/>
        <xs:element name="require_lockdown_browser_monitor" type="xs:boolean" minOccurs="0"/>
        <xs:element name="lockdown_browser_monitor_data" type="xs:string" minOccurs="0"/>
        <xs:element name="access_code" type="xs:string" minOccurs="0"/>
        <xs:element name="ip_filter" type="xs:string" minOccurs="0"/>
        <xs:element name="show_correct_answers" type="xs:boolean" minOccurs="0"/>
        <xs:element name="show_correct_answers_at" type="optional_dateTime" minOccurs="0"/>
        <xs:element name="hide_correct_answers_at" type="optional_dateTime" minOccurs="0"/>
        <xs:element name="anonymous_submissions" type="xs:boolean" minOccurs="0"/>
        <xs:element name="could_be_locked" type="xs:boolean" minOccurs="0"/>
        <xs:element name="available" type="xs:boolean" minOccurs="0"/>
        <xs:element name="time_limit" type="optional_integer" minOccurs="0"/>
        <xs:element name="disable_timer_autosubmission" type="xs:boolean" minOccurs="0"/>
        <xs:element name="allowed_attempts" type="optional_integer" minOccurs="0"/>
        <xs:element name="one_question_at_a_time" type="xs:boolean" minOccurs="0"/>
        <xs:element name="cant_go_back" type="xs:boolean" minOccurs="0"/>
        <xs:element name="one_time_results" type="xs:boolean" minOccurs="0"/>
        <xs:element name="show_correct_answers_last_attempt" type="xs:boolean" minOccurs="0"/>
        <xs:element name="only_visible_to_overrides" type="xs:boolean" minOccurs="0"/>
        <xs:element name="assignment_group_identifierref" type="xs:string" minOccurs="0"/>

        <xs:element name="quiz_type" minOccurs="0" default="practice_quiz">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="practice_quiz"/>
              <xs:enumeration value="assignment"/>
              <xs:enumeration value="graded_survey"/>
              <xs:enumeration value="survey"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>

        <xs:element name="scoring_policy" minOccurs="0" default="keep_highest">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="keep_latest"/>
              <xs:enumeration value="keep_highest"/>
              <xs:enumeration value="keep_average"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>

        <xs:element name="assignment_overrides" minOccurs="0">
          <xs:complexType>
            <xs:sequence minOccurs="0" maxOccurs="unbounded">
              <xs:element name="override">
                <xs:complexType>
                  <xs:attribute name="set_type" type="xs:string" use="required"/>
                  <xs:attribute name="set_id" type="xs:string" use="required"/>
                  <xs:attribute name="title" type="xs:string" use="required"/>
                  <xs:attribute name="due_at" type="optional_dateTime"/>
                  <xs:attribute name="unlock_at" type="optional_dateTime"/>
                  <xs:attribute name="lock_at" type="optional_dateTime"/>
                  <xs:attribute name="due_at_overridden" type="xs:boolean"/>
                  <xs:attribute name="unlock_at_overridden" type="xs:boolean"/>
                  <xs:attribute name="lock_at_overridden" type="xs:boolean"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>

      </xs:all>
      <xs:attribute name="identifier" type="xs:ID" use="required"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="events">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="event" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:all minOccurs="0">
              <xs:element name="title" type="xs:string" minOccurs="0"/>
              <xs:element name="description" type="xs:string" minOccurs="0"/>
              <xs:element name="start_at" type="optional_dateTime" minOccurs="0"/>
              <xs:element name="end_at" type="optional_dateTime" minOccurs="0"/>
              <xs:element name="all_day_date" type="xs:date" minOccurs="0"/>
              <xs:element name="all_day" type="xs:boolean" minOccurs="0"/>
              <xs:element name="rrule" type="xs:string" minOccurs="0"/>
              <xs:element name="series_uuid" type="xs:string" minOccurs="0"/>
              <xs:element name="series_head" type="xs:boolean" minOccurs="0"/>
            </xs:all>
            <xs:attribute name="identifier" type="xs:ID" use="required"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="media_tracks">
    <xs:complexType>
      <xs:sequence minOccurs="0" maxOccurs="unbounded">
        <xs:element name="media">
          <xs:complexType>
            <xs:sequence minOccurs="0" maxOccurs="unbounded">
              <xs:element name="track">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute name="identifierref" type="xs:ID" use="required"/>
                      <xs:attribute name="kind" use="required">
                        <xs:simpleType>
                          <xs:restriction base="xs:string">
                            <xs:enumeration value="subtitles"/>
                            <xs:enumeration value="captions"/>
                            <xs:enumeration value="descriptions"/>
                            <xs:enumeration value="chapters"/>
                            <xs:enumeration value="metadata"/>
                          </xs:restriction>
                        </xs:simpleType>
                      </xs:attribute>
                      <xs:attribute name="locale" type="xs:string" use="required"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="identifierref" type="xs:ID" use="required"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="fileMeta">
    <xs:complexType>
      <xs:all minOccurs="0" maxOccurs="1">
        <xs:element name="folders" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="folder" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:all minOccurs="0">
                    <xs:element name="hidden" type="xs:boolean" minOccurs="0"/>
                    <xs:element name="locked" type="xs:boolean" minOccurs="0"/>
                    <xs:element name="lock_at" type="optional_dateTime" minOccurs="0"/>
                    <xs:element name="unlock_at" type="optional_dateTime" minOccurs="0"/>
                  </xs:all>
                  <xs:attribute name="path" type="xs:string" use="required"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="files" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="file" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:all minOccurs="0">
                    <xs:element name="display_name" type="xs:string" minOccurs="0"/>
                    <xs:element name="hidden" type="xs:boolean" minOccurs="0"/>
                    <xs:element name="locked" type="xs:boolean" minOccurs="0"/>
                    <xs:element name="lock_at" type="optional_dateTime" minOccurs="0"/>
                    <xs:element name="unlock_at" type="optional_dateTime" minOccurs="0"/>
                    <xs:element name="usage_rights" minOccurs="0" maxOccurs="1">
                      <xs:complexType>
                        <xs:all minOccurs="0">
                          <xs:element name="legal_copyright" type="xs:string" minOccurs="0"/>
                          <xs:element name="license" type="xs:string" minOccurs="0"/>
                        </xs:all>
                        <xs:attribute name="use_justification" use="required">
                          <xs:simpleType>
                            <xs:restriction base="xs:string">
                              <xs:enumeration value="public_domain"/>
                              <xs:enumeration value="own_copyright"/>
                              <xs:enumeration value="used_by_permission"/>
                              <xs:enumeration value="fair_use"/>
                              <xs:enumeration value="creative_commons"/>
                            </xs:restriction>
                          </xs:simpleType>
                        </xs:attribute>
                      </xs:complexType>
                    </xs:element>
                  </xs:all>
                  <xs:attribute name="identifier" type="xs:string" use="required"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:all>
    </xs:complexType>
  </xs:element>

  <xs:complexType name="latePolicyType">
    <xs:all minOccurs="0" maxOccurs="1">
      <xs:element name="missing_submission_deduction_enabled" type="xs:boolean" minOccurs="0"/>
      <xs:element name="missing_submission_deduction" type="optional_float" minOccurs="0"/>
      <xs:element name="late_submission_deduction_enabled" type="xs:boolean" minOccurs="0"/>
      <xs:element name="late_submission_deduction" type="optional_float" minOccurs="0"/>
      <xs:element name="late_submission_interval" type="xs:string" minOccurs="0"/>
      <xs:element name="late_submission_minimum_percent_enabled" type="xs:boolean" minOccurs="0"/>
      <xs:element name="late_submission_minimum_percent" type="optional_float" minOccurs="0"/>
    </xs:all>
  </xs:complexType>

  <xs:complexType name="blueprint_restriction">
    <xs:attribute name="content_type" type="xs:string" use="required"/>
    <xs:attribute name="content" type="xs:boolean" use="optional"/>
    <xs:attribute name="points" type="xs:boolean" use="optional"/>
    <xs:attribute name="due_dates" type="xs:boolean" use="optional"/>
    <xs:attribute name="availability_dates" type="xs:boolean" use="optional"/>
    <xs:attribute name="state" type="xs:boolean" use="optional"/>
  </xs:complexType>

  <xs:element name="blueprint_settings">
    <xs:complexType>
      <xs:all>
        <xs:element name="use_default_restrictions_by_type" type="xs:boolean"/>
        <xs:element name="restrictions">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="restriction" type="blueprint_restriction" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="restricted_items">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="item" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:all>
                    <xs:element name="use_default_restrictions" type="xs:boolean"/>
                    <xs:element name="restriction" type="blueprint_restriction"/>
                  </xs:all>
                  <xs:attribute name="identifierref" type="xs:ID" use="required"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:all>
    </xs:complexType>
  </xs:element>

  <xs:element name="context_info">
    <xs:complexType>
      <xs:all>
        <xs:element name="course_id" type="xs:string" minOccurs="1"/>
        <xs:element name="course_name" type="xs:string" minOccurs="0"/>
        <xs:element name="root_account_id" type="xs:string" minOccurs="1"/>
        <xs:element name="root_account_uuid" type="xs:string" minOccurs="1"/>
        <xs:element name="root_account_name" type="xs:string" minOccurs="0"/>
        <xs:element name="canvas_domain" type="xs:string" minOccurs="0"/>
      </xs:all>
    </xs:complexType>
  </xs:element>

</xs:schema>
